# üìù √Ä vous (3)

En vous servant du fichier `../demo-pandas/titanic.csv`, sortez les informations demand√©es.

## Exercices 1

### Exercice 1.1

Sans filtrer, affichez dans un tableau, le prix m√©dian d'un ticket pour les hommes et pour les femmes

In [1]:
import pandas as p
titanic = p.read_csv("../../demo-pandas/titanic.csv")

titanic.groupby("Sex")[["Fare"]].median()

            Fare
Sex
female  23.00000
male    10.81665

### Exercice 1.2

Sans filtrer, affichez dans un tableau, le prix moyen d'un ticket pour chaque classe

(Bonus √† cot√©, indiquez quelle classe est le meilleur rapport qualit√©/prix)

In [2]:
titanic.groupby("Pclass")[["Fare"]].mean()

             Fare
Pclass
1       84.154687
2       20.662183
3       13.687592

### Exercice 1.3

Dans un m√™me tableau avec des nom de colonnes diff√©rents, affichez le prix moyen et le prix m√©dian d'un ticket par classe

In [3]:
mean = titanic.groupby("Pclass")[["Fare"]].mean()
median = titanic.groupby("Pclass")[["Fare"]].median()

result = p.concat([mean, median], axis=1)
result.columns = ["MeanFare", "MedianFare"]

result

         MeanFare  MedianFare
Pclass
1       84.154687     60.2875
2       20.662183     14.2500
3       13.687592      8.0500

### Exercice 1.4

Dans un m√™me tableau avec des nom de colonnes diff√©rents, affichez le prix moyen et le prix m√©dian d'un ticket par classe et par sexe

(Bonus, que constatez vous ?)

In [4]:
mean = titanic.groupby(["Pclass", "Sex"])[["Fare"]].mean()
median = titanic.groupby(["Pclass", "Sex"])[["Fare"]].median()

result = p.concat([mean, median], axis=1)
result.columns = ["MeanFare", "MedianFare"]

result

                 MeanFare  MedianFare
Pclass Sex
1      female  106.125798    82.66455
       male     67.226127    41.26250
2      female   21.970121    22.00000
       male     19.741782    13.00000
3      female   16.118810    12.47500
       male     12.675756     7.92500

### Exercice 1.5

Dans un m√™me tableau avec des nom de colonnes diff√©rents, affichez le prix moyen, le prix m√©dian d'un ticket et le nombre de tickets par classe et par sexe

Assurez vous que le total de tickets est bien de 890.

In [5]:
mean = titanic.groupby(["Pclass", "Sex"])[["Fare"]].mean()
median = titanic.groupby(["Pclass", "Sex"])[["Fare"]].median()
count = titanic.groupby(["Pclass", "Sex"])[["Fare"]].count()

result = p.concat([mean, median, count], axis=1)
result.columns = ["MeanFare", "MedianFare", "Count"]

print(result["Count"].sum() == 890)

result

True

                 MeanFare  MedianFare  Count
Pclass Sex
1      female  106.125798    82.66455     94
       male     67.226127    41.26250    122
2      female   21.970121    22.00000     76
       male     19.741782    13.00000    108
3      female   16.118810    12.47500    144
       male     12.675756     7.92500    346

### Exercice 1.6

Est-ce que le port d'embarquement avait une quelconque incidence sur le taux de survie ?
Essayez de d√©gager des informations pour valider/invalider cette th√©orie.

<details>
    <summary>Indice</summary>
    
        Ne voyez pas trop compliqu√©, √ßa tient en une ligne
</details>

<details>
    <summary>Indice suppl√©mentaire</summary>

    Pour comparer les ports, il faut d'abord grouper nos r√©sultats par ports d'embarquements

</details>
<details>
    <summary>Indice final</summary>

        Il faut afficher le ratio moyen de survie par port d'embarquement, comme on a affich√© le co√ªt moyen d'un ticket par classe plut t√¥t
</details>

In [6]:
titanic.groupby(["Embarked"])[["Survived"]].mean()

          Survived
Embarked
C         0.553571
Q         0.389610
S         0.337481

### Exercice 1.7

Si vous avez un r√©sultat int√©ressant √† l'exercice pr√©c√©dent, essayez de prendre en compte les classes des tickets des gens qui ont embarqu√© dans les diff√©rents ports.

<details>
    <summary>Spoilers de l'exercice pr√©c√©dent si vous n'avez pas obtenu de r√©sultats probants</summary>
    
    Si on regarde le ratio de survie de chaque embarquements, on peut observer que ceux qui ont embarqu√©s √† Cherbourg ont 55% de chances de survie alors que les autre sont √† 38% et 33%
    On pourrais penser qu'embarquer √† Cherbourg porte chance ? Essayez de comparer les classes des tickets des gens qui ont embarqu√©s √† Cherbourg pour v√©rifier √ßa.
</details>

<details>
    <summary>Indice</summary>
    
        Ne voyez pas trop compliqu√©, √ßa tient aussi en une ligne
</details>

In [7]:
titanic.groupby(["Embarked"])[["Survived", "Pclass"]].mean()

          Survived    Pclass
Embarked
C         0.553571  1.886905
Q         0.389610  2.909091
S         0.337481  2.349922

## Exercices 2

### Exercice 2.1

Cr√©ez un widget capable de filtrer le tableau complet par sexe

In [8]:
from ipywidgets import interact

def by_sex(sex):
    return titanic["Sex"] == sex
    
def display(sex):
    return titanic[by_sex(sex)]
    
sex_choices = [("Homme", "male"), ("Femme", "female")]
interact(display, sex=sex_choices);

interactive(children=(Dropdown(description='sex', options=(('Homme', 'male'), ('Femme', 'female')), value='mal‚Ä¶

### Exercice 2.2

Ajoutez √† ce filtre, un autre widget pour choisir la classe

In [9]:
def by_class(pclass):
        return titanic["Pclass"] == pclass

def display(sex, pclass):
    return titanic[(by_sex(sex)) & (by_class(pclass))]

class_choices = [("Premi√®re", 1), ("Deuxi√®me", 2), ("Troisi√®me", 3)]

interact(display, sex=sex_choices, pclass=class_choices);

interactive(children=(Dropdown(description='sex', options=(('Homme', 'male'), ('Femme', 'female')), value='mal‚Ä¶

### Exercice 2.3

Ajoutez ensuite un *champ de texte* pour chercher par co√ªt de ticket (Essayer de trouver les femmes en premi√®re classe qui ont pay√© 86.5¬£)
Si ce champ de texte est vide, le filtre ne doit pas s'appliquer.

In [10]:
def by_fare(fare):
    try:
        result = float(fare)
        return titanic["Fare"] == result
    except:
        return titanic["Fare"] > -1

def display(sex, pclass, fare):
    return titanic[(by_sex(sex)) & (by_class(pclass)) & (by_fare(fare))]

interact(display, sex=sex_choices, pclass=class_choices, fare="86.5");

interactive(children=(Dropdown(description='sex', options=(('Homme', 'male'), ('Femme', 'female')), value='mal‚Ä¶

### Exercice 2.4

Ajoutez maintenant **deux cases √† cocher**, une qui stipule "a surv√©cu" et une autre qui stipule "n'a pas surv√©cu"

L'id√©e c'est d'afficher dans le cas o√π :

- "a surv√©cu" est coch√©e toute seule : seulement les passagers qui ont surv√©cu
- "n'a pas surv√©cu" est coch√©e toute seule : seulement les passagers qui n'ont surv√©cu
- Aucune case n'est coch√©e ou les deux : les passagers ayant surv√©cu ou non

<details>
    <summary>Indice</summary>
    
    Pensez √† l'ordre de vos calculs bool√©ens
</details>

In [11]:
def has_survived(survived):
    if survived:
        return titanic["Survived"] == 1
    else:
        return titanic["Survived"] == 0

def has_not_survived(not_survived):
    if not_survived:
        return titanic["Survived"] == 0
    else:
        return titanic["Survived"] == 1

def display(sex, pclass, fare, survived, not_survived):
    return titanic[(by_sex(sex)) & (by_class(pclass)) & (by_fare(fare)) & (has_survived(survived) | has_not_survived(not_survived))]

interact(display, sex=sex_choices, pclass=class_choices, fare="", survived=True, not_survived=True);

interactive(children=(Dropdown(description='sex', options=(('Homme', 'male'), ('Femme', 'female')), value='mal‚Ä¶

### Exercice 2.5

Ajoutez un widget de multis√©lection, qui permet de choisir aucun, un ou plusieurs ports d'embarquement.

<details>
    <summary>Indice</summary>
    
    Il va vous falloir importer les widgets de `ipywidgets`, le composant en question s'apelle `SelectMultiple`
</details>

In [12]:
from ipywidgets import widgets

def by_embarkment(embarkment):
    return titanic["Embarked"].isin(embarkment)

def display(sex, pclass, fare, survived, not_survived, embarkment):
    return titanic[(by_sex(sex)) & (by_class(pclass)) & (by_fare(fare)) & (has_survived(survived) | has_not_survived(not_survived)) & (by_embarkment(embarkment))]

embarkment_widget = widgets.SelectMultiple(options=[("Cherbourg", 'C'), ("Southampton", 'S'), ("Queenstown", 'Q')], value=['C', 'S', 'Q'])

interact(display, sex=sex_choices, pclass=class_choices, fare="", survived=True, not_survived=True, embarkment=embarkment_widget);

interactive(children=(Dropdown(description='sex', options=(('Homme', 'male'), ('Femme', 'female')), value='mal‚Ä¶

### Exercice 2.6

Non y'a pas vraiment d'exercice 2.6, vous avez d√©j√† ajout√© beaucoup de widgets de filtre vous pouvez √™tre fiers de vous, vous avez presque fait une appli web üëå