# üìù √Ä vous (2)

En vous servant du fichier `../demo-pandas/titanic.csv`, sortez les informations demand√©es.


## Exercices 1

Dans ces exercices, ne sortez pas forc√©ment les donn√©es dans des tableaux, vous pouvez utiliser `print()` pour afficher des chiffres.
Pour chaque exercice, v√©rifiez que le total correspond bien au total de lignes du tableau (890) en additionnant vos r√©sultat

### Exercice 1.1

Affichez le nombre de passagers qui ont voyag√©s en premi√®re classe, deuxi√®me classe et troisi√®me classe (Et v√©rifiez que le total correspond bien au total de ligne du tableau (890))

### Exercice 1.2

Affichez le nombre et le pourcentage d'hommes et de femmes √† avoir voyag√© √† bord. (Et v√©rifiez que le total correspond bien au total de ligne du tableau (890))

### Exercice 1.3

Affichez le pourcentage d'hommes et le pourcentage de femmes √† avoir surv√©cu et √† ne pas avoir surv√©cu. (Et v√©rifiez que le total correspond bien au total de ligne du tableau (890))

## Exercices 2

Dans ces exercices, sortez les r√©sultat sous la forme de tableaux filtr√©s

### Exercice 2.1

Affichez la liste des passagers de plus de 70 ans

## Exercice 2.2

Affichez la liste des passager qui ont entre 30 et 60 ans

## Exercice 2.3

Par rapport √† l'exercice d'avant, affichez tous les autres

### Exercice 2.4

Une comtesse a embarqu√© sur le titanic, vous devriez pouvoir la trouvez sans chercher son nom sur internet.

### Exercice 2.5

Affichez uniquement le nom des femmes de plus de 30 ans qui ont pay√© entre 80¬£ et 90¬£ pour leur ticket et ont embarqu√© √† Southampton, sans leurs familles (√©poux et fr√®res/soeurs)